*{
    padding: 0;
    margin: 0;



}
main{
        background: rgb(85,246,122);
        background: linear-gradient(180deg, rgba(85,246,122,0.804359243697479) 0%, rgba(251,251,251,1) 100%);
}


.navbar{
    background: rgb(251,251,251);
    background: linear-gradient(180deg, rgba(251,251,251,1) 0%, rgba(85,246,122,0.804359243697479) 100%);
}

.nav-link{
    
    color: rgb(0, 0, 0)  !important;
    
}

section{
    min-height: 100vh;
    height: auto;
    
}
.s1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    background-image: url("./assets/AssinaturaNey.png");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    color: rgb(0, 0, 0);
    text-align: center;

}
p{
    font-size:100px;
    font-style: italic;
}
h5{
    color: rgb(8, 221, 75);
}
h3{
    text-align: center;
}

.carousel-inner{
    
    align-items: center;
    justify-content: center;
    width: 30px;
    height: auto;

}

.carousel-item img{
    box-shadow: rgba(255, 234, 234, 0.35) 0px 5px 15px;
    width: 110%;
    height: 850px;
    object-fit: cover;


}

.img-logo{

    width: 70px;
    height: auto;

}
.card{
 
    background-color: #020202a9;
    width: 16rem;
    height:450px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#s2{
   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;

}

